:root {
  --white-lm: #ffeca1;
  --light-lm: #ffd700;
  --mid-lm: #f09012;
  --vibrant-lm: #ec4242;
  --dark-lm: #dc143c;
  --black-lm: #580515;
  --white-dm: #8b5876;
  --light-dm: #6b1377;
  --mid-dm: #3f2880;
  --vibrant-dm: #652d99;
  --dark-dm: #311358;
  --black-dm: #140220;

  --primary: var(--white-lm);
  --secondary: var(--light-lm);
  --tertiary: var(--vibrant-lm);
  --quaternary: var(--dark-lm);
  --quinary: var(--mid-lm);
  --senary: var(--black-lm);
}
  
.light {
  --primary: var(--white-lm);
  --secondary: var(--light-lm);
  --tertiary: var(--vibrant-lm);
  --quaternary: var(--dark-lm);
  --quinary: var(--mid-lm);
  --senary: var(--black-lm);
}

.dark {
  --primary: var(--white-dm);
  --secondary: var(--light-dm);
  --tertiary: var(--vibrant-dm);
  --quaternary: var(--dark-dm);
  --quinary: var(--mid-dm);
  --senary: var(--black-dm);
}
  
  body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--primary);
}
.btn{
  width: 125px;
  height: 35px;
  background-color: var(--tertiary);
  border: 6px, ridge, var(--quaternary);
  color: var(--senary);
}

.hero {
  background-color: var(--tertiary);
  color: var(--senary);
  margin-bottom: 10px;
}

.main {
  background-color: var(--quaternary);
  height: 90vh;
}